/* stylelint-disable no-descending-specificity */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");

:root {
  --text: #e3e3f2;
  --background: #05050f;
  --primary: #98b7df;
  --secondary: #344865;
  --accent: #bfcc94;

  --inactive: rgba(227, 227, 242, 0.6);
  --border: rgba(227, 227, 242, 0.2);
  --code: rgba(227, 227, 242, 0.15);

  --correct: #35b5f9;
  --incorrect: #f09185;

  --selection-bg: var(--accent);
  --selection-color: var(--background);
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding-inline: 2rem;
  transition: background 0.3s ease, top 0.3s ease;

  &.filter {
    background: rgba(5, 5, 15, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }

  &.hidden {
    top: -5rem;
  }

  & .links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.link {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;

  &.inline {
    display: inline-flex;
    padding: 0;

    /* Looks a bit too green */
    color: var(--primary);

    &::before {
      bottom: 0;
      left: 0;
      width: 100%;
      background: var(--primary);
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0.5;
    background: var(--accent);
    height: 1.5px;
    width: calc(100% - 1rem);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

/* Improve hover effect */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  padding: 0.8rem 1.5rem;
  background: var(--accent);
  border-radius: 0.5rem;
  color: var(--background);
  position: relative;
  isolation: isolate;
  transition: translate 0.3s ease;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    background: var(--border);

    &::after {
      background: transparent;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: repeating-linear-gradient(
      315deg,
      var(--accent),
      var(--accent) 2px,
      transparent 2px,
      transparent 6px
    );
    transition: all 0.3s ease;
  }

  &:hover::after {
    top: 0.5rem;
    left: 0.5rem;
  }
}

main.courses,
main.course-viewer {
  margin-top: 5rem;
}

section.landing {
  height: calc(100vh + 24rem);
  width: 100%;
  position: relative;
  isolation: isolate;

  & > .title {
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    padding-left: max(1rem, 3%);

    & .text {
      --selection-bg: #60f;
      --selection-color: var(--text);

      display: flex;
      flex-direction: column;
      justify-content: center;

      & h1 {
        font-size: 5rem;

        &:first-child {
          margin-bottom: -1rem;
        }
      }
    }

    & .description {
      width: 42rem;
    }

    & .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  & > .about {
    height: 24rem;
  }

  & > .background {
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;

    & > object {
      filter: contrast(80%);
      position: absolute;
      top: -20rem;
      right: -26rem;
      height: calc(100vh + 40rem);
    }
  }
}

main.courses section.courses {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 28rem);

  & .course {
    width: 28rem;
    height: 20rem;
    font-weight: 500;
    transition: translate 0.3s ease;
    isolation: isolate;
    position: relative;

    & > .content {
      height: 100%;
      width: 100%;
      background: #17191c;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      border-radius: 1rem;

      & > .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & h1.title {
          font-size: 2.4rem;
          line-height: 3rem;
        }

        & .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          & .chip {
            background: var(--accent);
            color: var(--background);
            height: 1.8rem;
            padding-inline: 0.8rem;
            border-radius: 0.9rem;
            width: fit-content;
          }
        }
      }

      & > .authors {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0;
        padding-inline: 0.5rem;

        & > .pictures {
          display: flex;

          & .picture {
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;
            overflow: hidden;

            &:not(:first-child) {
              box-shadow: -2px 0 4px #17191c;
              margin-left: -0.5rem;
            }

            & img {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        & p {
          font-size: 1rem;
          line-height: 1.4rem;
          font-weight: 500;
        }
      }

      & > .bottom {
        display: flex;
        justify-content: flex-end;
      }

      & > .spacer {
        height: 100%;
      }

      & > :not(.spacer) {
        flex-shrink: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 1px;
      right: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 1rem;
      background: repeating-linear-gradient(
        225deg,
        var(--accent),
        var(--accent) 2px,
        transparent 2px,
        transparent 6px
      );
      transition: top 0.3s ease, right 0.3s ease;
    }

    &:hover {
      translate: 0.5rem -0.5rem;
    }

    &:hover::before {
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

main.course-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);

  & section.viewer {
    height: 100%;
    width: 86rem;
    display: flex;
    gap: 2rem;
    margin-inline: 2rem 0;

    & .sidebar {
      width: 26rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: 1rem;

      & .sections {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      & .section-header {
        margin-top: 1rem;
        width: 100%;
        border-bottom: 2px solid var(--border);
        padding: 0.2rem 0.5rem;
        font-weight: 700;
        user-select: none;
        -webkit-user-select: none;
      }

      & .section-page {
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--inactive);
        transition: color 0.3s ease;
        padding-inline: 0.5rem;
        user-select: none;
        position: relative;
        -webkit-user-select: none;

        &.active {
          font-weight: 700;
        }

        &.active,
        &:hover {
          color: var(--text);
        }

        &::before {
          content: attr(data-score);
          position: absolute;
          top: 50%;
          translate: 0 -50%;
          right: 2.5rem;
        }

        /* TODO: add checkmark */
        &::after {
          content: "";
          margin-left: auto;
          width: 1rem;
          height: 1rem;
          border: 2px solid var(--border);
          border-radius: 1rem;
        }

        &.done::after {
          border: 2px solid var(--accent);
          background: var(--accent);
        }
      }
    }

    & .page {
      width: 100%;
      overflow: hidden auto;
      padding-right: 2rem;

      & .title {
        border-bottom: 2px solid var(--border);
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;

        & h1 {
          font-size: 3rem;
          margin-bottom: -0.5rem;
        }

        & .info {
          font-size: 0.8em;
          color: var(--inactive);
        }
      }

      & .button.score {
        height: 3.5rem;
        width: 3.5rem;
      }

      & .next-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        margin-bottom: 6rem;
        gap: 1rem;

        & > .button {
          display: inline-flex;
          flex-shrink: 0;
        }

        & > .score-wrapper {
          width: 100%;
          height: 3.5rem;
          display: flex;
          align-items: center;
          margin-left: 1.5rem;

          & .hidden {
            display: none;
          }
        }
      }

      & > *:not(:first-child, :last-child) {
        margin-inline: 0.5rem;
      }

      /* Viewer blocks */

      & .conditional-boundry {
        &.hidden {
          display: none;
        }
      }

      & h3 {
        padding: 1rem 0 0.5rem;
      }

      & code.block,
      & .code-block {
        font-family: "Fira Code", monospace;
        display: block;
        background: var(--code);
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        & > span {
          display: block;
          padding-right: 1rem;
          width: fit-content;
        }
      }

      & code.inline {
        font-family: "Fira Code", monospace;
        background: var(--code);
        padding: 0 0.4rem;
        border-radius: 0.2rem;
        white-space: nowrap;
      }

      & img {
        width: calc(100% - 1.5rem);
        padding: 0.5rem;
      }

      & fieldset {
        margin: 1.5rem 0.5rem 1rem;
        border-radius: 1rem;
        border: 2px solid var(--border);

        & div.input {
          position: relative;
          display: flex;
          align-items: center;

          & input {
            flex-shrink: 0;
            appearance: none;
            width: 24px;
            height: 24px;
            margin: 8px;
            border: 2px solid var(--border);
            transition: border 0.3s ease, background 0.3s ease;

            &[type="radio"] {
              border-radius: 1rem;
            }

            &[type="checkbox"] {
              border-radius: 0.2rem;
            }

            &:checked {
              border: 2px solid var(--accent);
              background: var(--accent);
            }
          }

          & label {
            width: 100%;
            padding: 0.5rem;
          }

          &[data-correct="true"]::before,
          &[data-correct="false"]::before {
            /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
            font-family: "Material Symbols Rounded";
            font-weight: 700;
            content: "\e5cd";
            position: absolute;
            top: 50%;
            left: 20px;
            translate: -50% -50%;
            display: none;
            color: var(--background);
          }

          &.done[data-correct="true"]::before,
          &.done[data-correct="false"]::before {
            display: unset;
          }

          &[data-correct="true"]::before {
            content: "\e5ca";
          }

          &.done[data-answered-correctly="true"] input {
            border: 2px solid var(--correct);
            background: var(--correct);
          }

          &.done[data-answered-correctly="false"] input {
            border: 2px solid var(--incorrect);
            background: var(--incorrect);
          }

          &.done[data-correct="false"] {
            text-decoration: line-through;
          }
        }

        & .dropdown {
          display: flex;
          height: 3.5rem;
          width: 14rem;
          border-radius: 0.5rem;
          border: 2px solid var(--border);
          align-items: center;
          justify-content: center;
          position: relative;

          & select {
            font-size: 1em;
            width: 14rem;
            height: 3.5rem;
            padding: 0;
            color: var(--text);
            outline: none;
            border: none;
            background: transparent;
            appearance: none;
            padding-left: 1rem;
          }

          &.code,
          &.code select {
            font-family: "Fira Code", monospace;
          }

          &::before {
            /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
            font-family: "Material Symbols Rounded";
            pointer-events: none;
            content: "\e313";
            position: absolute;
            right: 1rem;
            top: 50%;
            translate: 0 -50%;
          }
        }

        & .btn-wrapper {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 0.5rem;
          align-items: flex-end;
          gap: 1rem;

          & .feedback.hidden {
            display: none;
          }

          & .feedback:not(.hidden) {
            font-size: 0.8rem;
            animation: feedback-anim 0.3s ease forwards;
          }

          & .button {
            cursor: not-allowed;
            display: inline-flex;
            background: var(--border);
            flex-shrink: 0;
            transition: background;

            &.color {
              background: var(--accent);
            }

            &.score {
              &::after {
                background: transparent !important;
              }
            }

            &::after {
              background: transparent;
            }
          }
        }

        & .dropdown ~ .btn-wrapper .button:not(.done, .disabled),
        &
          div.input:has(input:not([disabled]):checked)
          ~ .btn-wrapper
          .button:not(.done) {
          cursor: pointer;
          background: var(--accent);

          &:not(.color)::after {
            background: repeating-linear-gradient(
              315deg,
              var(--accent),
              var(--accent) 2px,
              transparent 2px,
              transparent 6px
            );
          }
        }
      }
    }
  }
}

@keyframes feedback-anim {
  from {
    display: block;
    opacity: 0;
    max-height: 3.5rem;
  }

  to {
    display: block;
    opacity: 1;
    max-height: 6rem;
  }
}
